body {
 background-position: center;
 background-size: cover;
 height: 100vh;
 width: 100vw;
 background-color: #D9DBF1;

 
   
}

button {
    border-radius: 10px;
 
    width: auto;
    height: 50px;
    font-size: 20px;
    color: black;
background-color: white;
    background-size: cover;
}

h1 {
    font-size: 2.5rem;
    margin: auto;
    width: 400px;
    text-align: center;
    font-weight:900 ;
    color: #f5c44f;
    border-radius: 20px;
    background-color: white;
 
}

.france {
    height: 100vh;
    width: 80vw;
    /* filter: grayscale(100%); */
}

.france img {
    height: 900px;
}

.miss {
    height: 100vh;
    width: 50vw;
}

.miss img {
    height: 600px;
}

.total {
    display: flex;
}

.contenu {
    background-color: white;
    border-radius: 10px;
  
    width: 347px;
    height: 370px;
    position: relative;
    top: -820px;
    left: 370px;
    border:  3px solid #f5c44f;
}

.contenu p {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    white-space: pre-line;
    font-size: 1.5rem;
    margin-top: 3rem;
}

button {
    position: relative;
}

#paris {
    top: -695px;
    left: -480px;
}

#lille {
    top: -830px;
    left: -520px;
}

#bordeaux {
    top: -406px;
    left: 200px;
}

#strasbourg {
    top: -750px;
    left: 550px;
}

#montpellier {
    top: -300px;
    left: 210px;
}

#nantes {
    top: -620px;
    left: -230px;
}

#nice {
    top: -350px;
    left: 265px;
}

#toulouse {
    top: -300px;
    left: -200px;
}

#lyon {
    top: -520px;
    left: -25px;
}

#marseille {
    top: -280px;
    left: -70px;
}

.nuage {
    width: 550px;
    height: 450px;
    position: absolute;
    top: 490px;
    left: -55px;
}

