body {
    background-color: #D9DBF1;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

button {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    position: absolute;
    z-index: 1;
    transition: ease-in-out 0.5s;
}

button:hover {
    background-color: rgb(0, 204, 255)
}

h1 {
    font-size: 2.5rem;
    margin: auto;
    width: 400px;
    text-align: center;
    font-weight: 900;
    color: #f5c44f;
    border-radius: 20px;
    background-color: white;
}

.france {
    height: 900px;
    width: 1000px;
    background-image: url('img/France-Jaune-2.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.miss {
    height: 100vh;
    width: 45vw;
    position: absolute;
    left: 800px;
    transform: scaleX(-1);
}

.miss img {
    height: 600px;
}

.miss .nuage {
    width: 550px;
    height: 450px;
    position: absolute;
    top: 400px;
    left: -100px;
}

.total {
    display: flex;
    position: relative;
}

.contenu {
    background-color: white;
    border-radius: 10px;
    width: 347px;
    height: 400px;
    position: relative;
    top: -555px;
    left: 365px;
    border: 3px solid #f5c44f;
    padding: 10px;
}

.contenu p {
    font-family: 'Roboto', sans-serif;
    white-space: pre-line;
    font-size: 1.5rem;
    transform: scaleX(-1);
}

#paris {
    top: 180px;
    left: 410px;
}

#lille {
    top: 18px;
    left: 434px;
}

#bordeaux {
    top: 500px;
    left: 220px;
}

#strasbourg {
    top: 170px;
    left: 700px;
}

#montpellier {
    top: 620px;
    left: 520px;
}

#nantes {
    top: 220px;
    left: 120px;
}

#nice {
    top: 590px;
    left: 690px;
}

#toulouse {
    top: 650px;
    left: 190px;
}

#lyon {
    top: 410px;
    left: 610px;
}

#marseille {
    top: 640px;
    left: 630px;
}
